{% extends "base.html" %}
{% block title %}{{ title }} - {{ site_title }}{% endblock %}
{% block content %}        
<section id="content" class="body"> 
        <div class="post-info">   
                <h2 class="entry-title">{{ title }}</h2>
                <abbr class="published" title="{{ date }}">
                        {{ date }} | Tags: {{tags}}
                </abbr>
        </div><!-- /.post-info -->
        <div class="entry-content">
            {{content}}
        </div><!-- /.entry-content -->

        <!-- START: Livefyre Embed -->
        <script type='text/javascript' src='http://zor.livefyre.com/wjs/v1.0/javascripts/livefyre_init.js'></script>
        <script type='text/javascript'>
          var fyre = LF({
              site_id: 304306
          });
        </script>
        <!-- END: Livefyre Embed -->
</section>
{% endblock %}
