{% extends "base.html" %}
{% block title %}{{ title }} - {{ site_title }}{% endblock %}
{% block content %}        
<section id="content" class="body"> 
        <div class="post-info">   
                <h2 class="entry-title">{{ title }}</h2>
                <abbr class="published" title="{{ date }}">
                        {{ date }} | Tags: {{tags}}
                </abbr>
        </div><!-- /.post-info -->
        <div class="entry-content">
            {{content}}
        </div><!-- /.entry-content -->
</section>
{% endblock %}
